@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">ADMIN  ! ! !</h1>

</div>
<div>
    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">

        <a class="nav-link text-bg-light" asp-area="" asp-controller="Order" asp-action="Index">Send Parcel</a>
        <hr />

        <a class="nav-link text-bg-light" asp-area="" asp-controller="Order" asp-action="Track">Track your Parcel</a>

    </div>
    <hr />
    <a class=" text-bg-light" asp-area="Admin" asp-controller="Admin" asp-action="Index">Track your Parcel</a>

</div>